<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Makea diili')" lang="en">
        <meta charset="UTF-8" />
        <title>Otsikko</title>
    </head>
    <!--<body class="custom-element">-->
    <body>
        <!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
        <nav class="navbar navbar-expand- bg-dark navbar-dark">
            <img th:src="@{/img/logo.jpeg}" class="img-fluid" style="height:40px;" alt="logo"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Butiker nära dig</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>    
                </ul>
            </div>  
        </nav>
<!--        <p>Här kommer att finnas en ny app.</p>-->
        <p></p>
    </body>
</html>
